


  <nav class="">
    <div class="nav-wrapper #43a047  lighten-1 blue   ">
        <!-- <div class="nav-wrapper #43a047 green lighten-1 "> -->
      <div class="container">
        <a href="#!" class="brand-logo">Fancy Cars</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a value="code" href="https://github.com/RichieMessi/fancycars" target="_blank"><i class="material-icons">code</i></a>
          </li>

          <li>
              <a value="code" href="https://hub.docker.com/r/masihri/fancycars/" target="_blank">Docker Image</a>
            </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Admin View</a></li>
        </ul>
        <ul id="slide-out" class="side-nav" id="mobile-demo">
          <li>
            <a href="#">Buy a Car?</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a class="subheader" href="#">------------------------------------</a>
          </li>
          <li>
              <a href="https://github.com/RichieMessi/fancycars" target="_blank"><i class="material-icons">code</i> Github</a>
            </li>
          <li>
            <a class="waves-effect" href="https://hub.docker.com/r/masihri/fancycars/" target="_blank" ><i class="material-icons">image</i> Docker Image</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



         

   